<%- partial('_partial/head') %>
<% if (page.path.indexOf('about') > -1){ %>
   <%- partial('_partial/about', null, {cache: !config.relative_link}) %>
<% } else { %>
<body>
  <%- partial('_partial/masthead', null, {cache: !config.relative_link}) %>
  <div class="container-fluid">
    <div id="wrap">
      <div class="outer">
        <section id="main"><%- body %></section>
        <% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
          <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
        <% } %>
      </div>
      <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    </div>
    <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
    <%- partial('_partial/after-footer') %>
  </div>
</body>
</html>
<% } %>